// COLORS
$primary-color: #939AFF;
$secondary-color: #939AFF;

$white-color: #FFFFFF;

$dark-grey: #939AFF;
$light-grey: #d2d2d2;

$dark-blue-text: #FFFFFF; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
